{block #content}
    <h1>Příspěvky</h1>
    <ul n:inner-foreach="$posts as $post">
        <li>
        <a href="{plink Posts:detail $post->id}" class="ajax"><strong>{$post->title}</strong></a> <i>({$post->author->name})</i>
        <br />
        <p>{$post->perex}</p>

    </ul>
{/block}
