
{block #content}
    <a href="{plink Posts:all}" class="ajax">zpět na výpis</a>
    <h1>{$post->title}</h1>
    napsal: <i>{$post->author->name}</i><br>
    <p>{$post->content}</p>

    <div style="border-top: 1px blue solid;">

    {if count($post->related('comment')) == 0}
    <p>Buhužel zde není žádný komentář</p>
    {/if}
    <ul n:inner-foreach="$post->related('comment') as $comment">
        <li>
            {$iterator->getCounter()} |
            <strong>{$comment->name}</strong> {if !empty($comment->email)}<i>{$comment->email}</i>{/if}<br>
            <p>{$comment->text}</p>

        </li>
    </ul>
    </div>
    <h3>Přidejte příspěvek</h3>
    {control commentFrom}
{/block}